Repository kiforks/toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx format:check, npx stylelint, eslint

fix: fixed ci
  .github/workflows/ci.yml
  libs/ui/project.json
  libs/utilities/project.json
Due: npx nx format:check

fix: fixed ci
  .github/workflows/ci.yml
Due: none

fix: fixed styles
  libs/ui/scss/utilities/media/functions/_breakpoint.scss
Due: npx nx format:check, npx stylelint

fix: fixed config
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  libs/ui/project.json
  libs/utilities/project.json
  package-lock.json
  package.json
  project.json
Due: npx nx format:check

fix: fixed changelog
  CHANGELOG.md
Due: npx nx format:check

fix: fixed ci
  .github/workflows/ci.yml
  libs/ui/src/modules/media/services/media/media.service.ts
Due: npx nx format:check, eslint

fix: fixed formatting
  libs/ui/src/modules/media/services/media/media.service.ts
Due: npx nx format:check, eslint

ci: added deploy workflow
  .github/workflows/deploy.yml
Due: none

ci: changed deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: updated package version
  CHANGELOG.md
  package.json
Due: npx nx format:check

chore: updated package version
  package.json
Due: npx nx format:check

fix: fixed changelog description
  CHANGELOG.md
Due: npx nx format:check

fix: fixed ci workflow
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: fixed comment
  libs/ui/src/modules/media/services/media/media.service.ts
Due: npx nx format:check, eslint

ci: updated workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .npmignore
  CHANGELOG.md
  libs/ui/src/modules/media/services/media/media.service.ts
  package.json
Due: npx nx format:check, eslint

fix: fixed format
  libs/ui/src/modules/media/helpers/media/media.helper.ts
Due: npx nx format:check, eslint

ci: renamed deploy workflow
  .github/workflows/cd.yml
Due: none

fix: reverted ci workflow
  .github/workflows/ci.yml
Due: none

ci: separated build and test jobs
  .github/workflows/ci.yml
Due: none

ci: fixed ci
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: fixed ci workflow
  .github/workflows/ci.yml
Due: none

ci: updated ci workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  npx nx format:check: any of: *.{ts,html,json,scss,js,tsx,jsx,md}
  npx stylelint: any of: *.scss
  eslint: any of: *.{ts,tsx,html,js,jsx}
