Repository kiforks/toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx format:check, npx stylelint, eslint

ci: updated ci workflow naming
  .github/workflows/ci.yml
Due: none

ci: fixed CD workflow
  .github/workflows/cd.yml
  package.json
Due: npx nx format:check

chore: changed changelog
  CHANGELOG.md
  package.json
Due: npx nx format:check

ci: changed cd workflow
  .github/workflows/cd.yml
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: fixed workflow
  CHANGELOG.md
  package.json
Due: npx nx format:check

feat: updated libs and workflows
  .eslintrc.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  libs/core/ng-package.json
  libs/core/package.json
  libs/core/project.json
  libs/core/src/index.ts
  libs/core/src/interfaces/common.ts
  libs/core/src/interfaces/index.ts
  libs/core/src/interfaces/utils.ts
  libs/ui/package.json
  libs/ui/scss/utilities/core/variables/_typography.scss
  libs/ui/scss/utilities/entities/variables/_config.scss
  libs/ui/src/modules/media/configs/media/media.config.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.ts
  libs/ui/src/modules/media/guards/media-only/media-only.guard.ts
  libs/ui/src/modules/media/interfaces/media.interface.ts
  libs/ui/src/modules/media/mocks/media-service.mock.ts
  libs/ui/src/modules/media/services/media/media.service.ts
  libs/utilities/project.json
  libs/utilities/src/index.ts
  libs/utilities/src/interfaces/common.ts
  node/scripts/ci/update-package-files.js
  node/scripts/ci/update-peer-deps.js
  package-lock.json
  package.json
  project.json
  tsconfig.json
Due: npx nx format:check, npx stylelint, eslint

fix: updated version
  CHANGELOG.md
  package.json
Due: npx nx format:check

ci: fixed format workflow
  package.json
  project.json
Due: npx nx format:check

ci: fixed format workflow
  package.json
Due: npx nx format:check

test
  libs/ui/src/modules/media/mocks/media-service.mock.ts
Due: npx nx format:check, eslint

fix: fixed ci scripts
  libs/ui/src/modules/media/mocks/media-service.mock.ts
  package.json
Due: npx nx format:check, eslint

fix: fixed cd
  .github/workflows/cd.yml
  node/scripts/ci/update-package-files.js
Due: npx nx format:check, eslint

fix: updated package version
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: fixed cd
  .github/workflows/cd.yml
Due: none

fix: fixed changelog
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: check version
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: fixed cd
  .github/workflows/cd.yml
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: fixed cd
  CHANGELOG.md
  package.json
Due: npx nx format:check

fix: updated script
  .github/workflows/cd.yml
  node/scripts/ci/update-peer-deps.js
  package-lock.json
  package.json
Due: npx nx format:check, eslint

fix: fixed comments
  node/scripts/ci/update-peer-deps.js
Due: npx nx format:check, eslint

fix: added new script
  .github/workflows/cd.yml
  sh/scripts/ci/move-libs.sh
Due: none

fix: fixed cd
  .github/workflows/cd.yml
  sh/scripts/ci/move-libs.sh
Due: none

fix: fixed cd
  CHANGELOG.md
  node/scripts/ci/update-package-files.js
  package.json
Due: npx nx format:check, eslint

feat: rename media module entitites
  libs/ui/src/modules/media/configs/media/media.config.spec.ts
  libs/ui/src/modules/media/configs/media/media.config.ts
  libs/ui/src/modules/media/directives/media-between/media-between.directive.spec.ts
  libs/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/ui/src/modules/media/directives/media-data/media-data.directive.spec.ts
  libs/ui/src/modules/media/directives/media-data/media-data.directive.ts
  libs/ui/src/modules/media/directives/media-desktop/media-desktop.directive.spec.ts
  libs/ui/src/modules/media/directives/media-desktop/media-desktop.directive.ts
  libs/ui/src/modules/media/directives/media-max/media-max.directive.spec.ts
  libs/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/ui/src/modules/media/directives/media-min/media-min.directive.spec.ts
  libs/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/ui/src/modules/media/directives/media-mobile/media-mobile.directive.spec.ts
  libs/ui/src/modules/media/directives/media-mobile/media-mobile.directive.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.spec.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.ts
  libs/ui/src/modules/media/guards/media-between/media-between.guard.spec.ts
  libs/ui/src/modules/media/guards/media-between/media-between.guard.ts
  libs/ui/src/modules/media/guards/media-desktop/media-desktop.guard.spec.ts
  libs/ui/src/modules/media/guards/media-desktop/media-desktop.guard.ts
  libs/ui/src/modules/media/guards/media-max/media-max.guard.spec.ts
  libs/ui/src/modules/media/guards/media-max/media-max.guard.ts
  libs/ui/src/modules/media/guards/media-min/media-min.guard.spec.ts
  libs/ui/src/modules/media/guards/media-min/media-min.guard.ts
  libs/ui/src/modules/media/guards/media-mobile/media-mobile.guard.spec.ts
  libs/ui/src/modules/media/guards/media-mobile/media-mobile.guard.ts
  libs/ui/src/modules/media/guards/media-only/media-only.guard.spec.ts
  libs/ui/src/modules/media/guards/media-only/media-only.guard.ts
  libs/ui/src/modules/media/helpers/media/media.helper.ts
  libs/ui/src/modules/media/interfaces/media.interface.ts
  libs/ui/src/modules/media/mocks/media-service.mock.ts
  libs/ui/src/modules/media/providers/media-config.provider.ts
  libs/ui/src/modules/media/providers/media-service-mock.provider.ts
  libs/ui/src/modules/media/services/media/media.service.spec.ts
  libs/ui/src/modules/media/services/media/media.service.ts
  libs/ui/src/modules/media/tokens/media.token.ts
Due: npx nx format:check, eslint

refactor: change eslintignore config file
  .eslintignore
Due: none

refactor: change media subscriptions
  libs/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/ui/src/modules/media/directives/media-data/media-data.directive.ts
  libs/ui/src/modules/media/directives/media-desktop/media-desktop.directive.ts
  libs/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/ui/src/modules/media/directives/media-mobile/media-mobile.directive.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.ts
Due: npx nx format:check, eslint

refactor: change media subscriptions
  libs/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/ui/src/modules/media/directives/media-desktop/media-desktop.directive.ts
  libs/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/ui/src/modules/media/directives/media-mobile/media-mobile.directive.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.ts
Due: npx nx format:check, eslint

refactor: rename media tests description
  libs/ui/src/modules/media/directives/media-between/media-between.directive.spec.ts
  libs/ui/src/modules/media/directives/media-data/media-data.directive.spec.ts
  libs/ui/src/modules/media/directives/media-desktop/media-desktop.directive.spec.ts
  libs/ui/src/modules/media/directives/media-max/media-max.directive.spec.ts
  libs/ui/src/modules/media/directives/media-min/media-min.directive.spec.ts
  libs/ui/src/modules/media/directives/media-mobile/media-mobile.directive.spec.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.spec.ts
Due: npx nx format:check, eslint

fix: fix rerender of templates for media directives
  libs/ui/src/modules/media/directives/media-between/media-between.directive.ts
  libs/ui/src/modules/media/directives/media-max/media-max.directive.ts
  libs/ui/src/modules/media/directives/media-min/media-min.directive.ts
  libs/ui/src/modules/media/directives/media-only/media-only.directive.ts
Due: npx nx format:check, eslint

Path conditions:
  npx nx format:check: any of: *.{ts,html,json,scss,js,tsx,jsx,md}
  npx stylelint: any of: *.scss
  eslint: any of: *.{ts,tsx,html,js,jsx}
