Repository kiforks/toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx format:check, npx stylelint, eslint

feat: added git hook
  package-lock.json
  package.json
Due: npx nx format:check

fix: fixed deps
  libs/ui/package.json
  libs/utilities/package.json
Due: npx nx format:check

fix: changed app component
  src/app/app.component.ts
  src/index.html
Due: npx nx format:check, eslint

chore: migrated nx to the latest version
  package.json
Due: npx nx format:check

chore: migrated angular to the latest version
  package-lock.json
  package.json
Due: npx nx format:check

chore: updated package versions
  libs/ui/scss/utilities/entities/_api.scss
  libs/ui/scss/utilities/grid/mixins/_make-grid.scss
  libs/ui/scss/utilities/media/functions/_breakpoint.scss
  package-lock.json
  package.json
Due: npx nx format:check, npx stylelint

feat: added workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  package.json
Due: npx nx format:check

fix: fixed access token
  .github/workflows/ci.yml
  libs/ui/scss/utilities/media/functions/_breakpoint.scss
  nx.json
  package.json
Due: npx nx format:check, npx stylelint

fix: fixed workflow
  .github/workflows/ci.yml
Due: none

fix: fixed workflow
  .github/workflows/ci.yml
  .lintstagedrc.json
Due: npx nx format:check

fix: fixed workflow
  .github/workflows/ci.yml
  nx.json
  package-lock.json
Due: npx nx format:check

fix: fixed nx.json file
  nx.json
Due: npx nx format:check

chore: added changelog
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix: fixed ci
  .github/workflows/ci.yml
  nx.json
  package.json
Due: npx nx format:check

fix: fixed ci
  .github/workflows/ci.yml
Due: none

fix: fixed ci
  .github/workflows/ci.yml
  nx.json
Due: npx nx format:check

fix: fixed ci
  nx.json
Due: npx nx format:check

fix: fixed ci
  nx.json
  package.json
Due: npx nx format:check

fix: fixed styles
  libs/ui/scss/utilities/media/functions/_breakpoint.scss
Due: npx nx format:check, npx stylelint

fix: fixed styles
  .github/workflows/ci.yml
  libs/ui/scss/utilities/media/functions/_breakpoint.scss
Due: npx nx format:check, npx stylelint

fix: fixed ci
  .github/workflows/ci.yml
  libs/ui/project.json
  libs/utilities/project.json
Due: npx nx format:check

Path conditions:
  npx nx format:check: any of: *.{ts,html,json,scss,js,tsx,jsx}
  npx stylelint: any of: *.scss
  eslint: any of: *.{ts,tsx,html,js,jsx}
